<nav class="navbar navbar-expand navbar-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mg-lg-0">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a  routerLink="/users" routerLinkActive="active" >User</a>
        </li>
        <li class="nav-item " *ngIf="!isLoggedIn">
          <a  routerLink="/login" routerLinkActive="active" >Log-In</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a  routerLink="/signup" routerLinkActive="active" >Sign-up</a>
        </li>
      </ul>
      <button class="button-57" type="button" role="button" (click)="onLogOut()" *ngIf="isLoggedIn"><span class="text">Utente</span><span>Log-Out</span></button>
    </div>
  </div>
</nav>




